.ismerjen_meg_container {
    opacity: 0;
    transition: .3s;
}
.imc-box {
    position: fixed;
    bottom:15px;
    right: 15px;
    z-index: 2;
    background: #fff;
    color:#000;
    border-radius: 1rem;
    transition: .2s;
    width: 55px;
    height: 60px;
    overflow: hidden;
    background:transparent;
    filter: drop-shadow(0px 3px 15px #fff);
}
.imc-box:hover {
    cursor: pointer;
    filter: drop-shadow(0px 3px 15px var(--lightblue));
}
.imc-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.3rem;
    height: 60px;
}
.me {
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin-top: 0.5rem;
}
.imc-header-title {
    display: none;
}
.imc-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:95%;
    border-radius: 2rem 2rem 0rem 0rem;
    background: #fff;
    overflow-y: auto;
}
.imc-show-bg {
    background:rgb(228, 228, 228);
}
.activebox {
    width: 350px;
    height: 500px;
}
.activebox .me {
    display: none;
}
.activebox .imc-header-title {
    display: block;
    font-size: 1.5rem;
}
.imc-content-header {
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 1rem 0rem 0rem 1rem;
}
.back {
    font-size: 2rem;
}
.new-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.message {
    color:var(--darkblue);
    font-size:1.2rem;
    margin-right:10px;
}
.imc-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 2rem;
}
.imc-welcome {
    padding: 1rem;
}
.imc-welcome-content {
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.3rem;
    border-radius: 1rem;
    background:rgb(228, 228, 228);
}
.imc-welcome-content:hover {
    background: var(--lightblue);
}
.imc-welcome-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}
.imc-body p:nth-child(2) {
    background:rgb(228, 228, 228);
    padding: 1rem 2rem;
    border-radius: 12px;
    margin:1rem;
}
.imc-body p:nth-child(3) {
    background:rgb(228, 228, 228);
    padding: 1rem 2rem;
    border-radius: 12px;
    margin:1rem;
}
.imc-body p:nth-child(4) {
    background:rgb(228, 228, 228);
    padding: 1rem 2rem;
    border-radius: 12px;
    margin:1rem;
    margin-bottom: 3.5rem;
}
.showimc {
    opacity: 1;
    transition: .2s;
}
@media(max-width:1012px) {
    .imc-box {
        width: 55px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .me {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: 1rem;
    }
    .activebox {
        width: 350px;
        height: 500px;
        overflow-y:auto;
    }
}
@media(max-width:500px) {
    .imc-content{
        width: 100%;
    }
    .activebox {
        height: 450px;
    }
    .activebox .imc-header-title {
        font-size: 1.2rem;
    }
    .imc-welcome-text h3 {
        font-size: 1rem;
    }
}