.munkaim-content {
    display: flex;
    justify-content: center;
    gap:8rem;
    width: 90%;
    margin: 0rem auto 10rem auto;
    padding: 2rem 0rem;
}
.rolam-works {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:3rem;
}
.works-box {
    background: var(--lightgrey);
    width: 900px;
    border-radius: 1rem;
    color: #fff;
}
.works-content {
    display: flex;
    align-items: center;
    padding: 2rem 0rem;
}
.mozi {
    height: 260px;
    width: 360px;
    margin-left: -3rem;
    border-radius: 1rem;
    background:url('../assets/mozi.jpg');
    background-repeat: no-repeat;
}
.vt {
    height: 260px;
    width: 360px;
    margin-left: -3rem;
    border-radius: 1rem;
    background:url('../assets/Fooldal.jpg');
    background-repeat: no-repeat;
} 
.cipo {
    height: 260px;
    width: 360px;
    margin-left: -3rem;
    border-radius: 1rem;
    background:url('../assets/cipowebshop.jpg');
    background-repeat: no-repeat;

}    
.works-text {
    padding: 0rem 4rem;
}
.works-text p:nth-child(1) {
    color:var(--lightblue);
    margin: 0;
}
.works-text h3 {
    margin: 0.2rem 0rem 1.5rem 0rem;
}
.works-text p {
    margin: 0.5rem 0rem;
}
.technologia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:1rem;
}
.technologia p {
    margin:0rem;
}
.cipo-text {
    font-style: italic;
}
.demo {
    display: flex;
    gap:1rem;
    margin-top: 1rem;
}
.demo button {
    border: none;
    background: var(--darkblue);
    padding: 0.5rem 1.5rem;
    color: #fff;
    border-radius: 6px;
    transition: .3s;
    margin-top:0.5rem;
}
.demo button:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: .3s;
}
/* Munkáim section. */
@media(max-width:1413px) {
    .munkaim-content {
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }
    .munkaim-content .rolam-text {
        margin-bottom: 2rem;
    }
}
@media(max-width:1181px) {
    .munkaim-content {
        margin: 0rem auto 7rem auto;
    }
}
@media(max-width:1063px) {
    .works-content {
        flex-direction: column;
        margin:2rem 0rem;
        gap:2rem;
    }
    .works-box {
        width: 100%;
        position: relative;
    }
    .work {
        margin-left: 0;
        margin-top:-5rem;
        height: 230px;
        width: 360px;
        background-size: cover;
    }
    .works-text {
        max-width: 800px;
    }
}
@media(max-width:447px) {
    .work {
        width: 90%;
        height: 180px;
        position: absolute;
        top: 18px;
        right: 18px;
        margin-top: 0;
    }
    .works-text {
        margin-top: 11rem;
        padding: 0rem 1.5rem;
    }
    .works-content {
        margin:0rem;
    }
}